@import "tailwindcss";

body {
  background-color: #111111;
  /* Gradiente elíptico con transición extendida al 70% para un difuminado perfecto */
  background-image: radial-gradient(ellipse at top right, #C10230 0%, #4a0112 25%, #111111 70%);
  background-attachment: fixed;
  color: #ffffff;
  min-height: 100vh;
}